.container {
  color: #e33e6c;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5rem;
}

.card {
  width: 80%;
  height: 15rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.18);
  background-color: #1e1e1e;
  padding: 2rem 5rem 2rem 5rem;
}

.inner_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner_right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.inner_left > h1 {
  align-self: center;
}
.inner_right_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.inner_right_text_heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  padding: 0;
  margin: 0;
}

.inner_right_text_data {
  font-size: 1.5rem;
  font-weight: 600;
  color: #a3a3a3;
  padding: 0.5rem;
  margin: 0.5rem;
}
.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}

.hero_content_left {
  display: flex;
  width: 100%;
  margin-left: 5rem;
}

.hero_content_left > input {
  display: flex;
  width: 75%;
  height: 2rem;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background-color: #1e1e1e;
  color: #fff;
  margin-left: 2rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.hero_content_left > input::placeholder {
  color: #fff;

  font: 1.15rem sans-serif;
  margin-left: 2 rem;
}

.hero_content_left > input:focus {
  font: 1.15rem sans-serif;
  margin-left: 2 rem;
}
.hero_content_right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.button {
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;

  font-size: 14px;
  font-weight: 500;
  height: 40px;
  width: 100px;
  line-height: 20px;
  list-style: none;
  margin: 1rem;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover,
.button:focus {
  background-color: #f082ac;
}
